.task-list-container {
  list-style: none;
  padding: 0;
  margin-top: 35px;
  animation: fadeUp 0.5s ease;
}

.empty-text {
  text-align: center;
  color: var(--text-secondary);
  margin-top: 30px;
  font-weight: 600;
}
